/* buttons for the instructions component */

.buttons {
    background-color: rgb(1, 24, 87);
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(1, 24, 87);
}

.buttons:focus {
    animation: click 0.1s ease-in-out;
}

/* animation for buttons */

@-webkit-keyframes click {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(3px);
    }
}

@keyframes click {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(3px);
    }
}