.card {
  background: rgb(1, 24, 87);
  border-radius: 2px;
  height: 160px;
  margin: 1rem;
  width: 160px;
  box-shadow: 0 3px 15px rgb(0, 0, 0), 0 3px 18px rgb(0, 0, 0);
  text-align: center;
}
.card:hover{
  box-shadow: 0 2px 15px red, 0 2px 18px red;;
  border: 1px dotted red;
}
.card > .img-container {
  height: 90%;
  overflow: hidden;
  text-align: center;
  background: rgb(1, 24, 87);
}
.card > .img-container > img {
  width: 80%;
  height: 100%;

}


