#card {
  background: rgb(1, 24, 87);
  border-radius: 2px;
  height: 160px;
  margin: 1rem;
  width: 160px;
  box-shadow: 0 3px 15px rgb(0, 0, 0), 0 3px 18px rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  -webkit-transition: box-shadow 1s ease-out;
  -moz-transition: box-shadow 1s ease-out;
  -o-transition: box-shadow 1s ease-out;
  transition: box-shadow 1s ease-out;
}
#card:hover {
  box-shadow: 0 2px 10px red, 0 2px 20px red, 0 2px 30px red;
  cursor: pointer;
}
#card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: rgb(1, 24, 87);
  border-radius: 5px;

}
#card > .img-container > img {
  height: 100%;
}


